name: MyGitAppTest
branches: [ master ]
build:
    runs_on: java1.8
    steps:

      - name: Run  
        run: |
          mkdir bin
          javac -source 1.8 -target 1.8 src/main/java/org/benchmark/runProcessBuilder.java -d bin
d4tasks: 

  - name: Do_Main1
    which_main_class: org/benchmark/runProcessBuilder
    classes: /bin
    exclusions: 
      java/applet/.*,
      java/awt/.*,
      java/beans/.*,
      java/io/.*,
      java/math/.*,
      java/net/.*,
      java/nio/.*,
      java/rmi/.*,
      java/security/.*,
      java/sql/.*,
      java/text/.*,
      java/util/.*    
